@import "../../../index.scss";

.Services {
  &_content {
    margin-top: 80px;

    @include mobile-md {
      margin-top: 40px;
    }
  }

  &_slide {
    cursor: pointer;
    margin: 0 15px;

    @include mobile-lg {
      margin: 0;
    }
  }

  &_slideImageContainer {
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin: auto;

    @include tablet-lg {
      width: 100%;
    }
  }

  &_slideImage {
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  &_slideHeadingContainer {
    padding: 23px 0;
    width: 100%;
    text-align: center;
    background-color: #dec7ab;
  }

  &_popupSlideImages {
    display: flex;
    height: 100%;
  }

  &_popupSlideImageContainer {
    position: relative;
    width: 310px;
    height: 300px;
    overflow: hidden;

    @include desktop-md {
      width: 250px;
      height: 250px;
    }

    @include desktop-sm {
      width: 200px;
      height: 200px;
    }

    @include mobile-lg {
      width: 150px;
      height: 150px;
    }

    @include mobile-md {
      display: none;
    }

    &--tall {
      height: 600px;

      @include desktop-md {
        height: 500px;
      }

      @include desktop-sm {
        height: 400px;
      }

      @include tablet-lg {
        display: none;
      }
    }

    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      min-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  &_slider {
    width: 860px;

    @include tablet-lg {
      width: 95%;
    }

    .slick-prev,
    .slick-next {
      bottom: -72px;

      @include tablet-lg {
        bottom: -35px;
      }
    }

    .slick-prev {
      left: 15px;
    }

    .slick-next {
      right: 15px;
    }

    .slick-dots {
      bottom: -75px;
      text-align: center;

      @include mobile-lg {
        bottom: -85px;
      }

      @include mobile-sm {
        bottom: -110px;
      }
    }
  }

  &_sliderDotLink {
    transition: color 0.25s ease;

    &:hover {
      color: #c3423f;
    }
  }

  &_popupSlider {
    border-top: 50px solid #dec7ab;

    & > div > div > div > div > div:focus {
      outline: none;
    }

    .slick-prev,
    .slick-next {
      top: -95px;
      padding: 70px 25px;
      background-color: #efece9;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .slick-prev {
      left: 85px;
    }

    .slick-next {
      left: 225px;
    }
  }

  &_popupSlide {
    display: flex;

    &:focus {
      outline: none;
    }
  }

  &_popupSlideText {
    width: 100%;
    padding-left: 95px;
    padding-right: 10px;
    padding-top: 32px;

    @include desktop-md {
      padding-left: 50px;
    }

    @include mobile-lg {
      padding-left: 20px;
      padding-top: 15px;
    }

    @include mobile-md {
      padding-left: 10px;
      padding-bottom: 20px;
    }
  }

  &_popupSlideList {
    width: 100%;
    padding-top: 28px;
  }

  &_popupSlideListItem {
    display: flex;
    justify-content: space-between;

    &:not(:last-of-type) {
      padding-bottom: 20px;
    }

    h5:last-of-type {
      font-weight: 500;
      min-width: fit-content;
      margin-left: 15px;
    }
  }
}
