@import "../../../index.scss";

.Footer {
  position: relative;
  background-color: #dec7ab;
  padding: 12px 0;

  @include tablet-md {
    padding-bottom: 60px;
  }

  &_content {
    display: flex;
    justify-content: space-between;

    @include tablet-md {
      display: block;

      & > div:first-of-type {
        margin-bottom: 10px;
      }
    }

    @include mobile-lg {
      display: flex;

      & > div:first-of-type {
        margin-bottom: 0;
      }

      & > div:nth-of-type(2) .Footer_link {
        width: 160px;
      }
    }

    @include mobile-md {
      & > div:nth-of-type(2) .Footer_link {
        width: 145px;
      }
    }

    @include mobile-sm {
      display: block;
      text-align: center;
    }

    img {
      width: 20px;
    }
  }

  &_heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include tablet-md {
      left: unset;
      right: 25px;
      transform: translateY(-50%);
    }

    @include mobile-lg {
      top: 120px;
      right: unset;
      left: 50%;
      transform: translate(-50%, -50%);
      width: fit-content;
    }

    @include mobile-sm {
      top: 170px;
    }
  }

  &_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;

    @include mobile-md {
      width: 160px;
    }

    @include mobile-sm {
      margin: 0 auto;
    }

    color: #211a1e;
    transition: color 0.25s ease;

    &:hover {
      color: #c3423f;
    }
  }

  h5 {
    font-size: 1.6rem;

    &:not(:last-of-type) {
      margin-bottom: 2px;
    }

    @include mobile-lg {
      font-size: 1.4rem;
    }
  }
}
