@keyframes round {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.Spinner {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  animation: round 2s infinite linear;
}
