@import "../../../index.scss";

.ContactForm {
  h2 > img {
    display: none;

    @include mobile-md {
      display: block;
    }

    @include mobile-md {
      display: none;
    }
  }

  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 437px;
  }

  &_form {
    width: 50%;
    margin-top: 60px;

    @include mobile-lg {
      width: 60%;
    }

    @include mobile-md {
      width: 100%;
    }
  }

  &_input {
    display: block;
    width: 100%;
    padding: 25px 0;
    background-color: transparent;
    border: none;
    border-top: 1px solid #211a1e;
    border-bottom: 1px solid #211a1e;

    &::placeholder {
      color: #211a1e;
      transition: all 0.25s ease;
    }

    &:focus {
      outline: none;

      &::placeholder {
        color: #c3423f;
      }
    }

    &:not(:first-of-type) {
      transform: translateY(-1px);
    }

    &:last-of-type {
      margin-bottom: 60px;
    }
  }

  &_image {
    width: 265px;

    @include mobile-lg {
      width: 160px;
      margin-left: 40px;
    }

    @include mobile-md {
      display: none;
    }
  }
}
