* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 1440px;
  margin: auto;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  background-color: #efece9;
}

section {
  padding-top: 135px;
}

ul {
  list-style: none;
}

button {
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h2 {
  display: inline;
  position: relative;
  font-size: 6.5rem;
  font-weight: 600;
  color: #211a1e;

  img {
    position: absolute;
    right: -60px;
    top: 50%;
    transform: translate(100%, -50%);
    height: 100px;
  }
}

h3 {
  font-size: 5rem;
  font-weight: 500;
  line-height: 4.1rem;
  letter-spacing: 0em;
  color: #211a1e;
}

h4 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.9rem;
  letter-spacing: 0em;
}

h5 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.3rem;
  letter-spacing: 0em;
  color: #211a1e;
}

p,
li,
button,
input {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 2.9rem;
  letter-spacing: 0em;
}

button {
  cursor: pointer;
}

.slick-slider {
  position: relative;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

$slick-arrow-color: #000 !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  bottom: -72px;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  border: none;
  outline: none;
  &:hover,
  &:focus {
    outline: none;
    background: transparent;
    color: transparent;
  }
  &:before {
    font-size: 20px;
    line-height: 1;
    color: $slick-arrow-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.slick-prev {
  left: 25px;

  &:before {
    content: $slick-prev-character;
  }
}

.slick-next {
  right: 25px;

  &:before {
    content: $slick-next-character;
  }
}

.slick-dots {
  position: absolute;
  bottom: -75px;
  left: 50%;
  transform: translateX(-50%);
  min-width: fit-content;

  li {
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: 30px;
    }
  }
}
